a{
    color: black;
}
.sidebarContentContainer{
    padding-left: 10px;
}
.sideMenu{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px 0px;
}
.sidebarContentContainer p{
    padding-left: 10px;
}

.sideImage{
    width: 33px;
    max-width: 96%;
}