.checkoutContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkoutWrapper{
    width: 1200px;
    max-width: 90%;
    padding-top: 20px;
    background-color: #ffffff;
    padding: 30px;
}
.cartItemsContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  padding: 20px;
}