
.subtotalContainer{
    width: 450px;
    max-width: 90%;
    height: auto;
    border: 2px solid grey;
    /* float: right; */
    background-color: transparent;
    
}
.subtotalWrapper{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    line-height: 1.9;
    padding: 20px 10px;
}
.box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.box p{
    padding-left: 10px;
}
button{
    background-color: #f19e02;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    border: none;
}
button:hover{
    background-color: #dba237;
}