.productContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.productWrapper{
    width: 1500px;
    max-width: 90%;
    display: grid;
    grid-template-columns:repeat(3,1fr)
}
.productHolderContainer{
    background-color: white;
    margin: 10px 10px;
    padding: 15px 15px;
    border-radius: 5px;
}
.productHolder{
    display:flex;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom:10px;
}
.title p{
    font-weight: bolder;
}
.iconImg{
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-width:1400px) {
    .productWrapper{
        display: grid;
    grid-template-columns:repeat(2,1fr)
    }
}
@media screen and (max-width:990px){
    .productWrapper{
        display: grid;
    grid-template-columns:repeat(1,1fr)
    }
}

.productHolder p{
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
}
.greyFont{
    color: #a0a0a0;
}

@media screen and (max-width:459px) {
    .productHolder{
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .productHolder .greyFont{
        margin-bottom: 20px;
    }
   .productHolder a{
    border: 2px solid #bdbdbd;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
   }

}