.home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* height:600px; */
}
.homeWrapper{
  width: 1500px;
  max-width: 90%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-top: 20px;
  background-color: white;
  /* height: 600px; */
}
.homeContainer{
    width: 990px;
    max-width: 90%;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 400px;
    /* order: 2; */
}
.homeContainer img{
    width: 100%;
    height: auto;
}
.bannerImg{
    width:100%;
    height: auto;
    z-index: -1;
    /* margin-bottom: -250px; */
    /* mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0)); */
}
.btnContainer{
    z-index: 999;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}
.prev,.next{
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  background: #868585;
  color: rgb(0, 0, 0);
  width: 1.75rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 2px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s linear ;
  visibility: hidden;
}
.prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  
.homeContainer:hover .prev , 
.homeContainer:hover .next{
    visibility: visible;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
  }
article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  article.lastSlide {
    transform: translateX(-100%);
  }
  article.nextSlide {
    transform: translateX(100%);
  }


  .sideNavContainer{
    width: 390px;
    max-width: 100%;
    padding: 0px 4px;
    /* order: 1; */
  }

  .sideNavRight{
    /* order: 3; */
  }

  .responsiveDiv{
    display: none;
  }

  @media screen and (max-width: 1228px){ 
    .homeWrapper{
      flex-direction: column;
    }
    .sideNavContainer{
      display: none;
    }
    .sideNavRight{
      display: none;
    }
    .responsiveDiv .sideNavContainer , .responsiveDiv .sideNavRight{
      display:block;
      width: 50%;
    }
    .responsiveDiv{
      display:flex;
    }
  }

  @media screen and (max-width: 969px) {
    .homeContainer{
      height: 400px;
    }
  }
  @media screen and (max-width: 949px) {
    .homeContainer{
      height: 350px;
    }
  }
  @media screen and (max-width: 765px) {
    .homeContainer{
      height: 300px;
    }
  }
  @media screen and (max-width: 620px) {
    .homeContainer{
      height: 250px;
    }
  }
  @media screen and (max-width: 531px) {
    .homeContainer{
      height: 200px;
    }
  }
  @media screen and (max-width: 429px) {
    .homeContainer{
      height: 150px;
    }
  }

  @media screen and (max-width: 577px){ 
    .responsiveDiv .sideNavContainer , .responsiveDiv .sideNavRight{
      display:block;
      width: 100%;
      margin-bottom: 20px;
    }
    .responsiveDiv{
      display:flex;
      flex-direction: column;
    }
  }