.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeContainer{
    width: 1490px;
    max-width: 90%;
}
.bannerImg{
    width: 100%;
    z-index: -1;
    /* margin-bottom: -250px; */
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: -110px;
}